    /* Digital Literacy Website revision 4 */

/* These are the settings for the entire document including the font color of the text */
*, html, body {
    margin: 0px;
    padding: 0px;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 14px;
    color:rgb(0, 217, 255);
    box-sizing: border-box; 
  }
  
  /* This is the background color of the document (body) */
  body { 
    background-color: rgb(2, 22, 138); 
  } 
  
  /* This is the main headline tag for the page*/
  header h1 {
    color:rgb(255, 59, 59);
    text-align: center;
    font-size: 50px;
  }
  
  /*This is where you can adjust the background color and other attributes of the header section */
  header {
    width: 100%;
    padding: 15px 20px 20px 20px;
    background-color:rgb(2, 22, 138);
    text-shadow: 0px 0px 5px rgb(58, 228, 6);
    text-transform: uppercase;
  } 
  
  img {
    border: solid 2px rgb(0, 0, 0);
  }
  
  /*This controls the width of the picture column*/
  .col-1{
    width:33.3%;
    padding:2%;
  }
  
  /*This controls the width of the second column*/
  .col-2{
    background-color:rgb(2, 22, 138);
    width:50%;
    padding:20px;
  }
  
  .col-1 img{
    width:110%;
  }
  
  h4{
    text-align:center;
    margin-bottom:20px;
    color: yellowgreen;
  }
  
  /* This is where you can adjust your subheading text size, color, and placement */
  .col-2 h3{
    text-align:center;
    color:teal;
    font-size:1.5rem;
    margin-bottom:10px;
  }
  
  /* This is for the list */
  ul {
    list-style-type: square;
    margin: 0px 0px 10px 20px;
    padding-left:10px;
  }
  
  /* This is where you can adjust the color and font size of the list items */
  li {
    color: red; 
    font-size: 14px;
  }
  
  /* This is where you can adjust the size and color of the title of your list */
  p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color:aqua;
    text-align: justify;
  }
  
  article p {
    font-size: 14px;
    color: greenyellow;
    text-transform: capitalize;
  }
  
  /* This is where you can adjust the background color and other attributes of the footer section */
  footer {
    display: block;
    position: fixed;
      left: 0;
      bottom: 0;
    width: 100%;
    padding: 10px 20px;
    background-color:rgb(2, 22, 138);
  }
  
  /* This is where you can adjust the attributes of the paragraph text of the footer section (including color) */
  footer p {
    color: rgb(6, 49, 1);
    text-align: center;
    font-size: 18px;
    text-shadow: 0px 0px 3px black;
  }
  
  
  
  /*Do not touch this section */
  .flex-container{
    display: flex;
    flex-wrap:wrap;
    width:100%;
  }